body,
html {
  height: 100%;
  margin: 0;
}

.container {
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-template-rows: repeat(7, 50px);
  grid-template-areas:
    "Header Header Header Header Header Header Header"
    "Sidebar Sidebar Nav Nav Nav Nav Nav"
    "Sidebar Sidebar Article Article Article Article Article"
    "Sidebar Sidebar Article Article Article Article Article"
    "Sidebar Sidebar Article Article Article Article Article"
    "Sidebar Sidebar Article Article Article Article Article"
    "Footer Footer Footer Footer Footer Footer Footer";
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
  background-color: #006157;
  grid-area: Header;
}

.sidebar {
  background-color: #005b94;
  grid-area: Sidebar;
}

.nav {
  background-color: #642cde;
  grid-area: Nav;
}

.article {
  background-color: #7e1dc3;
  grid-area: Article;
}

.footer {
  background-color: #393f4d;
  grid-area: Footer;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}
